* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}



#todoLabel {
    text-align: center;
    margin: 2%;
    font-size: 3rem !important;
    text-shadow: 2px 2px 4px #000000;
}

ul {
    text-align: left;
    align-items: center;
    padding-left: 10%;
    padding: 2%;
    font-size: 2rem;
    margin-left: 7%;

}

li {
    list-style: url(../images/onay.png);
    width: 50%;
    transition: width 4s;
    background-color: rgb(137, 210, 98);
    border-radius: 10px;
    color: white;
}

li:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
    list-style: url(../images/sil.png);

}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.card .btn:hover {
    transform: rotate(360deg);
    background-color: rgb(137, 210, 98);
    color: #54676c;
}

.otto {
    font-size: calc(2em + 30vmin);
    font-weight: 900;
    color: rgb(137, 210, 98);

    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;

    text-shadow:

        var(--x-offset) var(--y-offset) 0px var(--background-color),

        calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);

}

/* for browsers that support spread, added in
https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
currently: none browsers! none of them!
I can't even find a test: 
https://wpt.fyi/results/css/css-text-decor */
@supports (text-shadow: 1px 1px 1px 1px black) {
    h1 {
        text-shadow:

            var(--x-offset) var(--y-offset) 0px 0px var(--background-color),

            var(--x-offset) var(--y-offset) var(--stroke) 0px var(--stroke-color);

    }
}