* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background: #f2f2f2;
    overflow: auto;
}

#todoLabel {
    text-align: center;
    margin: 2%;
    font-size: 3rem !important;
    text-shadow: 2px 2px 4px #000000;
}

ul {
    text-align: left;
    padding-left: 10%;
    padding: 2%;
    font-size: 2rem;
    margin-left: 7%;
    list-style: url(../images/onay.png);
}

li:hover {
    background-color: red;
    color: rgb(73, 71, 71);
    margin: 2%;
    transition: 2s linear;
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
}

#alertMes {
    display: none;
}